extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
    include ../static/style.css
    include ../static/ContactStyle.css
    include ../static/about.css

block content
  div.container 
    h1 About Us
    p We are the Young Generations of India who are going to look for the people who crazy for dance and need a platform to show case there talent.
    | We are from Pune with an environment of positivity. So do follow us and take out the Dance Demon.